{% extends 'bootstrap_template.html' %}

<html>
    <body>
        <title>SMS reports</title>
    </body>

    <body>
        {% block content %}

        <div class = "container mt-5">

            {% if reports.return is True %}
                <div class="alert alert-success" role="alert">
                    Message Sent successfully
                </div>

                {% else %}
                    <div class="alert alert-danger" role="alert">
                        Message cound not be sent 
                    </div>

            {% endif %}
            
            <div class="container pb-5">
                <div class="row">
                    <h5 class="mb-4 text-center"> Reports </h5>
                </div>

                <div class="row text-center">
                    <table class="table table-striped table-hover mt-2 text-center">                
                        <tbody>
                            {% for key, value in reports.items %}
                                <tr class="">
                                    <td class="text-center font-weight-bold ">{{ key }} </td>
                                    <td class="text-center">{{ value }} </td>    
                                </tr>

                            {% endfor %}
                            
                        </tbody>
                    </table>
            </div>

                <div class="row text-center">
                    <a class="btn btn-success text-center" href="/sms"> Back to Portal</a>
                </div>
            
            </div>
            
            
        
        </div>

        {% endblock %}
    
    </body>


</html>